services/mail-api/src/test/resources/wsdl/mailService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mail.javaops.ru/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://mail.javaops.ru/" name="MailServiceImplService">
    <wsp:Policy wsu:Id="MailServiceImplPortBinding_MTOM_Policy">
        <ns1:OptimizedMimeSerialization
                xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                wsp:Optional="true"/>
    </wsp:Policy>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://mail.javaops.ru/"
                        schemaLocation="http://localhost:8080/mail/mailService?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://common.javaops.ru/"
                        schemaLocation="http://localhost:8080/mail/mailService?xsd=2"/>
        </xsd:schema>
    </types>
    <message name="sendToGroup">
        <part name="parameters" element="tns:sendToGroup"/>
    </message>
    <message name="sendToGroupResponse">
        <part name="parameters" element="tns:sendToGroupResponse"/>
    </message>
    <message name="WebStateException">
        <part xmlns:ns2="http://common.javaops.ru/" name="fault" element="ns2:webStateException"/>
    </message>
    <message name="sendBulk">
        <part name="parameters" element="tns:sendBulk"/>
    </message>
    <message name="sendBulkResponse">
        <part name="parameters" element="tns:sendBulkResponse"/>
    </message>
    <portType name="MailService">
        <operation name="sendToGroup">
            <input wsam:Action="http://mail.javaops.ru/MailService/sendToGroupRequest" message="tns:sendToGroup"/>
            <output wsam:Action="http://mail.javaops.ru/MailService/sendToGroupResponse"
                    message="tns:sendToGroupResponse"/>
            <fault message="tns:WebStateException" name="WebStateException"
                   wsam:Action="http://mail.javaops.ru/MailService/sendToGroup/Fault/WebStateException"/>
        </operation>
        <operation name="sendBulk">
            <input wsam:Action="http://mail.javaops.ru/MailService/sendBulkRequest" message="tns:sendBulk"/>
            <output wsam:Action="http://mail.javaops.ru/MailService/sendBulkResponse" message="tns:sendBulkResponse"/>
            <fault message="tns:WebStateException" name="WebStateException"
                   wsam:Action="http://mail.javaops.ru/MailService/sendBulk/Fault/WebStateException"/>
        </operation>
    </portType>
    <binding name="MailServiceImplPortBinding" type="tns:MailService">
        <wsp:PolicyReference URI="#MailServiceImplPortBinding_MTOM_Policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="sendToGroup">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="WebStateException">
                <soap:fault name="WebStateException" use="literal"/>
            </fault>
        </operation>
        <operation name="sendBulk">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="WebStateException">
                <soap:fault name="WebStateException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="MailServiceImplService">
        <port name="MailServiceImplPort" binding="tns:MailServiceImplPortBinding">
            <soap:address location="http://localhost:8080/mail/mailService"/>
        </port>
    </service>
</definitions>